<html>
   <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/chatwithme.css') }}">
   </head>
      <body>
        <hr>
        <h1>QCIF Chat App</h1>
        <hr>
        <br>
        {% if session['chatuser'] %}
            <h3 style="color:rgb(7, 3, 194);"> Greetings {{session['chatuser'] }} you are chatting with {{sname}} </h3>
            </br>
            
            </form>
            <form id ="form_a" class="actionsForm" action = "http://172.30.143.25:5000/chatwithme/{{sname}}" method = "POST">
            <p>Chat box: </p>
            <p>
            <input type="text" id="message" name="message" required minlength="1" maxlength="200" size="80" />
            </p>
            <br>
            
            <input id="submit"  
                      type = "submit" value = "Send Message" /> 
            </br>
            </form>
            <p>
            <form id ="form_b" class="actionsForm" action = "http://172.30.143.25:5000/chatwithme/{{sname}}" method = "GET">
            
            <input id="submit"  
                      type = "submit" value = "Update Messages" /> 
            
            </form>
            </p>
            <p>
            <form id ="form_c" class="actionsForm" action = "http://172.30.143.25:5000/chatwith" method = "GET">
            
            
              <input id="submit"  
                     type = "submit" value = "Chat with another user"  /> 
            </form>
            </p>
            </br>
            <div id="chat_history" class="chat_history1">
            {% for key, value in all_messages.items() %}
                
                <p id="chat_history_p" class="chat_history_p1">
                     {{ value }}
                </p>
               
            {% endfor %}
            </div> 
            
        {% else %}
            <center>
            <form action="http://172.30.143.25:5000/">
                <p><input type = "submit" 
                          id="submit"
                          value = "Register as a Chat User"  /></p> 
            </form>
            </center>
       {% endif %}
      
        </body>
<script>
function refresh() {
    // make Ajax call here, inside the callback call:
    setTimeout(refresh, 5000);
    // ...
}
// initial call, or just call refresh directly
setTimeout(refresh, 5000);
</script>

</html>