<html>
   <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/chatwithme.css') }}">
   </head>
      <body>
         <h2 style="color:rgb(7, 3, 194);"> Chatter here: </h2>
        <br>
        {% if session['chatuser'] %}

            <p>Greetings {{session['chatuser'] }} you are chatting with {{sname}} </p>

            </br>
            
            </form>
            <form id ="form_s" class="actionsForm" action = "http://localhost:5000/chatwithme/{{sname}}" method = "POST">
            <p>Chat box: </p>
            <input type="text" id="message" name="message" required minlength="1" maxlength="200" size="80" />
            <br>
            <p>
            <input id="submit"  
                      type = "submit" value = "Send Message" /> 
            </p>
            </br>
            </form>

            <p>
            <form id ="form_s" class="actionsForm" action = "http://localhost:5000/chatwith" method = "GET">
            <p>
              <input type = "submit"  
                     value = "Chat with another user"  /> </p>
            </form>
            
            </br>
            <div id="chat_history" class="chat_history1">
            {% for key, value in all_messages.items() %}
                
                <p id="chat_history_p" class="chat_history_p1">
                    <center> {{ value }} <center>
                </p>
               
            {% endfor %}
            </div> 
            
        {% else %}
            <center>
            <form action="http://localhost:5000/">
                <p><input type = "submit" 
                          id="submit"
                          value = "Register as a Chat User"  /></p> 
            </form>
            </center>
       {% endif %}
      
        </body>
</html>