<!-- createuser.html (was student.html)  -->
<html>
   <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/createuser.css') }}">
   </head>
   <body >
      <br>
      <hr>
      <h1>QCIF Chat App</h1>
      <hr>
     <h3>Add new (or recommence) as User</h3>
     
   {% if session['chatuser'] %}
    <h3>Greetings {{session['chatuser'] }}</h3>
   {% else %}
     <form id="chatuser"  action = "http://localhost:5000/adduser" method = "POST">
       <p>
       <label>Set Chat User Name </label>
       <input type = "text" id="chatuser" name = "chatuser" />
       </p>
       <input type = "submit" 
                id="getAll"
                value = "Submit"  />
      </form>
      <br/>
   {% endif %}
     <br>
     <form id ="form_s" action = "http://localhost:5000/chatwith" method = "GET">
         <input type = "submit" 
                id="getAll"
                value = "Chat with Users"  />      </form>
     <br/>
     {% if session['chatuser'] %}

        <form id ="logout" action="http://localhost:5000/logout_chat">
            <p><input type = "submit" 
                      id="logout"
                      value = "Logout"  /></p> 
        </form>

      {% endif %} 
   </body>
</html>